{% extends "layout.html" %}
{% block content %}
 <div class="container">
        <header class="mt-4">
            <h1 class="text-center">Come Usare l'API per Fermata Bus</h1>
        </header>

        <section class="mt-5">
            <h2>Introduzione</h2>
            <p>
                Questa API permette di ottenere informazioni in tempo reale per una fermata bus specifica. È possibile utilizzare il comando <code>curl</code> per inviare una richiesta POST con l'ID della fermata e ottenere i dettagli relativi ai passaggi dei bus.
            </p>
        </section>

        <section class="mt-5">
            <h2>Comando Curl</h2>
            <p>
                Per ottenere le informazioni sulla fermata con ID <strong>597</strong>, puoi utilizzare il seguente comando <code>curl</code>:
            </p>
            <pre class="code">curl -X POST http://127.0.0.1:5000/fermata/597</pre>
        </section>

        <section class="mt-5">
            <h2>Output dell'API</h2>
            <p>
                Quando invii la richiesta, l'API restituisce un output che contiene i dettagli della fermata, le linee di bus che passano e gli orari di passaggio. Un esempio di output è il seguente:
            </p>
            <div class="alert alert-info">
                <strong>Output:</strong><br>
                Fermata: BERNINI<br>Linea: 9 (BARRIERA LANZO, PIAZZA STAMPALIA)<br>Passaggi: 19:41* 19:48* 20:02* 20:16*<br>Prossimo passaggio: 10 minuti<br>Linea: 16CD (CIRCOLARE DESTRA, PORTA PALAZZO)<br>Passaggi: 19:47* 20:03* 20:23*<br>Prossimo passaggio: 16 minuti<br>%
            </div>
        </section>
 </div>
{% endblock content %}