<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <meta charset="UTF-8">
    <title>GTT Orari</title>
</head>
<body onload="init()">
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><p class="h1">GTT Orari</p> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/shortcuts"><p class="h5">Shortcuts</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/whoare"><p class="h5">Chi sono</p></a>
                    </li>
                </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="align-content-center">
        <p class="h1">Benvenuto Gtt orari </p>
        <form id="stopForm">
            <div class="form-group">
                <label for="stop">Inserisci numero di fermata</label>
                <input type="number" class="form-control" id="stop" placeholder="Inserisci fermata">
            </div>
            <div class="form-group">
                <label for="line">Inserisci linea</label>
                <input type="text" class="form-control" id="line" placeholder="Inserisci Linea">
                <p class="fs-6 "> <b>Attenzione</b> se si inserisce la linea 16 si inserisca anche la direzione "16 CD" o "16 CS"</p>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
