{% extends "layout.html" %}
{% block content %}
    <div class="align-content-center">

    <div class="table table-hover">
        <div class="align-content-center">

            <h1>Fermata:{{ stop }}</h1>
            <p>Se segnalato con * si tratta di arrivi in tempo reale</p>
            <table class="table table-hover">
                <tr>
                    <th>Linea</th>
                    <th>Passaggi</th>
                    <th>Prossimo passaggio in </th>
                </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>
                            {%  if row[2] =="Non disponibile" %}
                                Non disponibile
                            {% elif row[2] <= 1 %}
                                In arrivo
                            {% else %}
                                {{ row[2] }} minuti
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock content %}

