{% extends "layout.html" %}
{% block content %}
    <div class="align-content-center">
        <p class="h3">Seleziona la shortcut che ti interessa</p>
        <div class="row">
        <div class="col-auto" >

            <button type="button" class="btn btn-primary m-2" onclick="window.location.href='fermata/2729'">Da Martinetto Alpignagno</button>
            <button type="button" class="btn btn-primary m-2" onclick="window.location.href='fermata/2763'">Da Alpignagno a Martinetto</button>
            <br>
            <button type="button" class="btn btn-primary m-2" onclick="window.location.href='fermata/597'">Da Bernini a Dip di informatica</button>
            <button type="button" class="btn btn-primary m-2" onclick="window.location.href='fermata/185'">Dal Dip di informatica a bernini</button>

        </div>
        </div>

    </div>
{% endblock content %}
