{% extends "layout.html" %}
{% block content %}
    <div class="align-content-center">
        <p class="h3">Seleziona la shortcut che ti interessa</p>
        <div class="row">
        <div class="col-auto" >
            <p>  <b>Andata</b> </p>
            <button type="button" class="btn btn-primary" onclick="window.location.href='fermata/2729'">Alpignagno</button>
            <br>
            <button type="button" class="btn btn-primary mt-2" onclick="window.location.href='fermata/597'">Università</button>

        </div>
        <div class="col-auto" >
            <p>  <b>Ritorno</b> </p>
            <button type="button" class="btn btn-primary" onclick="window.location.href='fermata/2763'">Alpignagno</button>
            <br>
            <button type="button" class="btn btn-primary mt-2" onclick="window.location.href='fermata/185'">Università</button>

        </div>
        </div>

    </div>
{% endblock content %}
