{% extends "layout.html" %}
{% block content %}
    <div class="align-content-center">
        <p class="h1">Benvenuto Gtt orari </p>
        <form id="stopForm">
            <div class="form-group">
                <label for="stop">Inserisci numero di fermata</label>
                <input type="number" class="form-control" id="stop" placeholder="Inserisci fermata">
            </div>
            <div class="form-group">
                <label for="line">Inserisci linea</label>
                <input type="text" class="form-control" id="line" placeholder="Inserisci Linea">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
{% endblock content %}
