{% extends "layout.html" %}
{% block content %}
    <div class="align-content-center">
          <h2>Compila il form per ottenere i passaggi in fermata</h2>
          <h4>Inserisci il numero della fermata e la linea o anche solo il numero della fermata </h4>
        <form id="stopForm" >
            <div class="form-group ">
                <label for="stop">Inserisci numero di fermata</label>
                <input type="number" class="form-control" id="stop" placeholder="Inserisci fermata">
            </div>
            <div class="form-group ">
                <label for="line">Inserisci linea</label>
                <input type="text" class="form-control" id="line" placeholder="Inserisci Linea">
            </div>
            <p>Se si sta inserendo la linea 16 si deve inserire anche la circolale 16CD o 16CS</p>

            <button type="submit" class="btn btn-primary mt-2">Submit</button>

        </form>
    </div>
{% endblock content %}
